#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FOCALTECH_TP
        bool "Focaltech Tp Touchscreen"
		depends on I2C
		default n
		help
		  Say Y here if you have Focaltech tp panel.
		  If unsure, say N.

config TOUCHSCREEN_FTS_DIRECTORY
    string "Focaltech ts directory name"
    default "focaltech_tp"
    depends on TOUCHSCREEN_FOCALTECH_TP
    