#
# Touchscreen driver configuration
#
config ft6x06_FIRMWARE
	string "ft6x06 for Mediatek firmware"

config TPD_ROTATE_90
	bool "ft6x06 for Mediatek package"
	default n
	help
	Say Y here if you have ft6x06 touch panel TPD_ROTATE_90.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_ROTATE_180
	bool "ft6x06 for Mediatek package"
	default n
	help
	Say Y here if you have ft6x06 touch panel TPD_ROTATE_180.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_ROTATE_270
	bool "ft6x06 for Mediatek package"
	default n
	help
	Say Y here if you have ft6x06 touch panel TPD_ROTATE_270.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config FT_AUTO_UPGRADE_SUPPORT
	bool "ft6x06 for Mediatek package"
	default y
	help
	Say Y here if you have ft6x06 touch panel FT_AUTO_UPGRADE_SUPPORT.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config CUST_FTS_APK_DEBUG
	bool "ft6x06 for Mediatek package"
	default y
	help
	Say Y here if you have ft6x06 touch panel CUST_FTS_APK_DEBUG.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_HAVE_CALIBRATION
	bool "ft6x06 for Mediatek package"
	default n
	help
	Say Y here if you have ft6x06 touch panel TPD_HAVE_CALIBRATION.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config TPD_CUSTOM_CALIBRATION
	bool "ft6x06 for Mediatek package"
	default n
	help
	Say Y here if you have ft6x06 touch panel TPD_CUSTOM_CALIBRATION.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.

config HCT_TP_GESTRUE
	bool "HCT_TP_GESTRUE"
	default n
	
config TPD_PROXIMITY
	bool "ft6x06 for Mediatek package"
	default n
	help
	Say Y here if you have ft6x06 touch panel TPD_CUSTOM_CALIBRATION.

	If unsure, say N.

	To compile this dirver as a module, choose M here: the
	module will be called.
